.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.mainContent {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-left: 250px;
}

.title {
    text-align: center;
    font-size: 2rem;
    color: #333;
    margin-bottom: 1rem;
}

.table {
    margin-top: 2rem;
    margin-left: 25px;
    margin-right: 25px;
    width: calc(100% - 50px);
    border-collapse: collapse;
}

.table th, .table td {
    text-align: center;
    padding: 8px 12px;
}

.table th {
    background-color: #f8f9fa;
    font-weight: bold;
}

.btn {
    margin-right: 10px;
}

.form-control {
    width: 300px;
    margin: 0 auto;
}

/* Estilos para la paginación */
.pagination {
    display: flex;
    justify-content: center;
    margin-top: auto;
    padding-bottom: 1rem;
}

.pagination .page-item .page-link {
    color: #007bff;
}

.pagination .page-item.disabled .page-link {
    color: #6c757d;
}

.pagination .page-item .page-link:hover {
    background-color: #0056b3;
    color: #fff;
}

.pagination .active {
    background-color: #0056b3;
    font-weight: bold;
}

  