.adminDashboardContainer {
    min-height: 100vh;
    background: #dee2e6;
}

.mainContent {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 250px; /* Ajusta según el ancho del Sidebar */
}

.container {
    flex-grow: 1;
}

@media (max-width: 768px) {
    .adminDashboardContainer {
        flex-direction: column;
    }

    .mainContent {
        padding-left: 0;
    }
}
