.dashboardContainer {
    margin-top: 5px;  
    padding: 20px;
    background: linear-gradient(to bottom, #aac5e5, #00243c);
    /*background-image: linear-gradient(to bottom, #aac5e5 0%, #00243c 80%);*/
    /*background-color: #cfdaff;  Fondo colorido */
    border-radius: 8px;
    margin-bottom: 20px;
}

.dashboardHeader {
    font-size: 2rem;
    font-weight: bold;
    /*color: #00796b;*/
    color: #000b3d;
    text-align: center;
    margin-bottom: 20px;
}

.metricsRow {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;  
}

.chartRow {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    padding: 20px;
}

.card-body {
    padding: 1.5rem;
    background-color: #f4f4f4;
    border-radius: 8px;
}

.card-body h5 {
    font-size: 1.25rem;
    color: #00796b;
}

.card-body p {
    font-size: 1.1rem;
}

.card-body .display-4 {
    font-size: 1.5rem;
}

.mt-4 {
    margin-top: 0.5rem;
}

.mb-4 {
    margin-bottom: 0.5rem;
}

.card {
    width: 100%;  
    min-height: 150px;
    transition: transform 0.2s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.card:hover {
    transform: translateY(-5px);
}

.metricCardLink {
    text-decoration: none;
}

@media (min-width: 768px) {
    .metricsRow .col-md-3 {
        flex: 0 0 23%;  
        max-width: 23%;
    }
}

@media (max-width: 767px) {
    .metricsRow .col-md-3 {
        flex: 0 0 48%; 
        max-width: 48%;
    }
}

@media (max-width: 480px) {
    .metricsRow .col-md-3 {
        flex: 0 0 100%;  
        max-width: 100%;
    }
}

