.sidebar {
    width: 250px;
    background-color: #5A8AA1; /* Azul más oscuro pero suave */
    color: #000000; /* Gris muy claro */
    height: 100vh;
    position: fixed;
    padding: 4px;
    overflow-y: auto;
}

.title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #F5F5F5; /* Gris muy claro */
}

.optionTitle {
    background-color: #3A6C84; /* Azul intermedio */
    color: #F5F5F5; /* Gris muy claro */
    border: none;
    padding: 0.75rem 1rem;
    font-size: 1rem;
    text-align: left;
    transition: background-color 0.3s;
    border-radius: 8px;
}

.optionTitle:hover {
    background-color: #2D5468; /* Azul más oscuro */
    color: #F5F5F5; /* Gris muy claro */
}

.subOptions {
    margin-top: 0.5rem;
    padding-left: 1rem;
}

.subOption {
    background-color: #DCE6EB; /* Azul muy claro */
    color: #0D0D0D; /* Negro */
    border: none;
    margin-bottom: 0.5rem;
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
    border-radius: 6px;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s;
}

.subOption:focus {
    background-color: #DCE6EB; /* Igual que el color original del fondo */
    outline: none; /* Elimina el borde por defecto que aparece al enfocarse */
}

.optionTitle:focus {
    background-color: #3A6C84; /* Igual al color de fondo original */
    outline: none; /* Elimina el borde por defecto */
    color: #F5F5F5; /* Mantén el color original del texto */
}

.subOption:hover {
    background-color: #AAC7D5; /* Azul más suave */
    color: #0D0D0D; /* Negro */
}

.arrowDown {
    font-size: 0.9rem;
    transform: rotate(90deg);
    transition: transform 0.3s;
    color: #F5F5F5; /* Gris muy claro */
}

.arrowRight {
    font-size: 0.9rem;
    transform: rotate(0deg);
    transition: transform 0.3s;
    color: #F5F5F5; /* Gris muy claro */
}



